mindspore @ https://ms-release.obs.cn-north-4.myhuaweicloud.com/2.5.0/MindSpore/cpu/x86_64/mindspore-2.5.0-cp39-cp39-win_amd64.whl
numpy==1.26.4
pandas==2.3.0
protobuf==3.20.0
scikit-learn==1.6.1
streamlit==1.45.1


mindspore~=2.5.0
imbalanced-learn~=0.12.3
uvicorn~=0.32.1
fastapi~=0.115.12
pydantic~=2.11.7
joblib~=1.5.1
matplotlib~=3.9.2